
@{
    ViewBag.Title = "Product";
    <script src="~/Scripts/custom/product.js"></script>

    <style type="text/css">
       
        #ddlCategoryOuter {
            width: 80% !important;
        }

    </style>
}
<div style="margin: 20px 0; border-bottom: double 5px gray">
    <h2 class="text-center">Product</h2>
</div>
 

<div class="row">
    <div class="col-md-5">
        <div class="form-group">
            <label for="productId">Product Id:</label>
            <input type="text" class="form-control" id="txtProductId" readonly="readonly">
        </div>
        <div class="form-group">
            <label for="categoryName">Category Name:</label>
            <div id="ddlCategoryOuter">
                <select class="form-control" id="ddlCategory">
                    <option value="-1">Select a Category</option>
                </select>
            </div>
           
        </div>
        <div class="form-group">
            <label for="productName">Product Name:</label>
            <input type="text" class="form-control" id="txtProductName">
        </div>
        <div class="form-group">
            <label for="productPrice">Product Price:</label>
            <input type="text" class="form-control" id="txtProductPrice">
        </div>
        <div class="form-group">
            <label for="productDescription">Product Description:</label>
            <input type="text" class="form-control" id="txtProductDescription">
        </div>
        <div class="form-group">
            <label for=""></label>
            <button type="button" class="btn" id="btnSubmit">New Product</button>
            @*<button type="button" class="btn btn-danger" id="btnClear">Clear</button>*@
        </div>
    </div>

    <div class="col-md-7">
        <div id="productInfo"></div>
    </div>
</div>

<div>
    <a href="@Url.Action("Index", "Home" )" class="btn btn-primary">
        <span class="glyphicon glyphicon-menu-left">
            <strong>Hem</strong>
        </span>
    </a>
</div>
